@charset "UTF-8";
/******               utilities               ******/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
.cont-principal .presentacion .btn-a, .cont-sobre .art-sobre .art-contenido-sobre .btn-sobre, .cont-sugerencia .btn-serv {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: .75rem;
  background-color: #555555;
  color: #fdfdfd;
  width: 10rem;
  padding: 0.6rem;
  border-radius: .5rem;
  text-align: center;
  transition: all .3s ease; }
  .cont-principal .presentacion .btn-a:hover, .cont-sobre .art-sobre .art-contenido-sobre .btn-sobre:hover, .cont-sugerencia .btn-serv:hover {
    background-color: #EDC8C3; }
  .cont-principal .presentacion .btn-a:active, .cont-sobre .art-sobre .art-contenido-sobre .btn-sobre:active, .cont-sugerencia .btn-serv:active {
    transform: scale(0.97);
    background-color: #ffb3b0; }

/******               base                  ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #fdfdfd; }

/******               componets              ******/
/*header-boostrap*/
.container-fluid {
  padding: .625rem 2rem; }
  .container-fluid a .navbar-brand {
    margin: 0; }
  .container-fluid .navbar-collapse {
    justify-content: end; }
    .container-fluid .navbar-collapse .navbar-nav {
      gap: 6rem; }
  .container-fluid .nav-item .nav-link {
    font-family: "Poppins", sans-serif;
    color: #555555;
    font-size: 1.25rem;
    font-weight: 400;
    transition: all .3s ease; }
    .container-fluid .nav-item .nav-link:hover {
      color: #ffb3b0;
      text-shadow: 0 0 .9375rem #ffb3b0; }
  .container-fluid .nav-item .dropdown-menu {
    border: none;
    box-shadow: 0 0 .9375rem #ffb3b0; }

/*cards-servicios*/
.art-card {
  width: 43.75rem;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: none;
  padding: 1.25rem;
  box-shadow: 0 0 .9375rem #0000001a;
  transition: all .5s ease; }
  .art-card:hover {
    background-color: #F8F9FA;
    box-shadow: 0 0 0.9375rem #ffb3b0; }
  .art-card .art-card-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    gap: none;
    margin-left: 1.5rem; }
    .art-card .art-card-contenido h2 {
      font-family: "Poppins", sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      color: #555555; }
    .art-card .art-card-contenido p {
      font-family: "Roboto", sans-serif;
      color: #555555; }

/******               layout              ******/
/*footer*/
footer {
  background-color: #24262b;
  padding: 5rem 0; }
  footer .footer-titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #fdfdfd;
    margin-bottom: 3.125rem;
    text-align: center; }
  footer .social-link {
    text-align: center; }
    footer .social-link a {
      display: inline-block;
      height: 2.5rem;
      width: 2.5rem;
      background-color: #555555;
      margin: .625rem .625rem;
      line-height: 2.5rem;
      border-radius: 50%;
      color: #fdfdfd;
      transition: all .3s ease; }
      footer .social-link a:hover {
        background-color: #ffb3b0; }

/*main-index*/
.cont-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  gap: none;
  margin: 3.125rem 0 6.25rem 0; }
  .cont-principal .presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    gap: none; }
    .cont-principal .presentacion h1 {
      font-family: "Poppins", sans-serif;
      font-size: 5rem;
      font-weight: 600;
      color: #555555;
      line-height: normal;
      text-align: center;
      margin: 0;
      text-shadow: 0 0 .9375rem #00000017; }
      .cont-principal .presentacion h1 span {
        color: #ffb3b0; }
    .cont-principal .presentacion h2 {
      background-color: #F8F9FA;
      color: #ffb3b0;
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 3rem;
      padding: .3125rem 1rem;
      text-align: center; }
    .cont-principal .presentacion .btn-a {
      align-self: center; }
  .cont-principal .grid-container {
    max-width: 43.75rem;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    justify-content: none;
    align-items: none;
    column-gap: none;
    row-gap: none; }
    .cont-principal .grid-container .item {
      border: 0.1875rem solid #F8F9FA;
      border-radius: 50%;
      box-shadow: 0.625rem 0.625rem 0.625rem 0 #EDC8C3;
      transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1); }
      .cont-principal .grid-container .item:hover {
        z-index: 1;
        transform: scale(1.3);
        box-shadow: none; }
      .cont-principal .grid-container .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%; }
    .cont-principal .grid-container .item1 {
      grid-area: 1/5/6/10; }
    .cont-principal .grid-container .item2 {
      grid-area: 5/1/11/7; }
    .cont-principal .grid-container .item3 {
      grid-area: 4/6/11/13; }
    .cont-principal .grid-container .item4 {
      grid-area: 2/-1/8/-7; }
    .cont-principal .grid-container .item5 {
      grid-area: 7/-2/11/-6; }
    .cont-principal .grid-container .item6 {
      grid-area: -1/3/-9/11; }
    .cont-principal .grid-container .item7 {
      grid-area: -2/-2/-8/-8; }

/*main-sobre*/
.cont-sobre {
  margin: 10rem auto;
  max-width: 75rem; }
  .cont-sobre .art-sobre {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    gap: none; }
    .cont-sobre .art-sobre .art-contenido-sobre {
      padding-left: 2rem; }
      .cont-sobre .art-sobre .art-contenido-sobre h1, .cont-sobre .art-sobre .art-contenido-sobre h2 {
        font-family: "Poppins", sans-serif;
        color: #555555; }
      .cont-sobre .art-sobre .art-contenido-sobre p {
        font-family: "Roboto", sans-serif;
        color: #555555;
        margin-bottom: 3rem; }

/*main-servicios*/
.cont-articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: 3rem;
  margin: 8rem 5rem; }

.cont-sugerencia {
  background-color: #F8F9FA;
  padding: 6rem 3rem;
  text-align: center; }
  .cont-sugerencia p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #555555;
    margin-bottom: 3.125rem; }

/*main-contacto*/
.contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: 3rem;
  margin: 7.5rem 0; }

.cont-contacto {
  width: 31.25rem;
  align-content: center; }
  .cont-contacto .contacto-contenido h1 {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    color: #ffb3b0;
    line-height: 3.125rem;
    margin-bottom: 2rem; }
  .cont-contacto .contacto-contenido p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #555555; }
  .cont-contacto .contacto-contenido .contacto-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 2rem; }
    .cont-contacto .contacto-contenido .contacto-icon p {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-size: .75rem;
      color: #555555;
      margin-left: 1rem; }

.cont-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: none;
  width: 31.25rem;
  align-self: center;
  transition: all .3s ease; }
  .cont-form .form-contacto {
    width: 100%;
    padding: 2.5rem;
    background-color: #F8F9FA;
    box-shadow: 0 0 .9375rem #0000001a; }
    .cont-form .form-contacto .input-box {
      display: flex;
      flex-direction: column;
      font-family: "Poppins", sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      color: #555555; }
      .cont-form .form-contacto .input-box label {
        font-size: 1rem;
        margin-bottom: .5rem; }
      .cont-form .form-contacto .input-box input {
        font-family: "Roboto", sans-serif;
        font-size: .8rem;
        font-weight: 400;
        color: #555555;
        height: 1.875rem;
        margin-bottom: 1rem;
        padding: .5rem  .8rem;
        outline: none;
        border: none;
        border-radius: .5rem;
        box-shadow: 0 0 .3125rem #0000001a;
        transition: all .3s ease; }
        .cont-form .form-contacto .input-box input:focus {
          box-shadow: 0 0 0.9375rem #ffb3b0; }
      .cont-form .form-contacto .input-box textarea {
        font-family: "Roboto", sans-serif;
        font-size: .8rem;
        font-weight: 400;
        color: #555555;
        margin-bottom: 2rem;
        padding: 1.2rem  1.5rem;
        outline: none;
        border: none;
        border-radius: 1rem;
        box-shadow: 0 0 .3125rem #0000001a;
        resize: none;
        transition: all .3s ease; }
        .cont-form .form-contacto .input-box textarea:focus {
          box-shadow: 0 0 0.9375rem #ffb3b0; }
      .cont-form .form-contacto .input-box .btn-submit {
        font-family: "Poppins", sans-serif;
        background-color: #555555;
        color: #fdfdfd;
        font-weight: 500;
        height: auto;
        border: none;
        border-radius: 1rem;
        margin-bottom: 0;
        width: 50%;
        align-self: center;
        transition: all .3s ease; }
        .cont-form .form-contacto .input-box .btn-submit:hover {
          background-color: #F8F9FA;
          color: #555555;
          box-shadow: 0 0 0.9375rem #ffb3b0; }
        .cont-form .form-contacto .input-box .btn-submit:active {
          background-color: #ffb3b0; }

/**********        galeria      ************/
/*main-galeria-bodas*/
.cont-galeria {
  margin-top: 6rem;
  margin-bottom: 10rem; }
  .cont-galeria h1 {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    color: #555555;
    margin-bottom: 3rem;
    padding: 1.25rem 0;
    text-align: center; }

.galeria {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: none;
  align-items: none;
  column-gap: 1rem;
  row-gap: 1.5rem; }

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .galeria img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3; }
  .galeria img:nth-child(2) {
    grid-row: 1/3; }
  .galeria img:nth-child(8) {
    grid-column: 3/5;
    grid-row: 3/5; }
  .galeria img:nth-child(14) {
    grid-column: 1/2;
    grid-row: 3/5; }
  .galeria img:nth-child(10) {
    grid-column: 2/4;
    grid-row: 7/9; }
  .galeria img:nth-child(11) {
    grid-column: 3/5;
    grid-row: 5/7; }
  .galeria img:nth-child(12) {
    grid-column: 1/3;
    grid-row: 5/7; }
  .galeria img:nth-child(13) {
    grid-column: 4/5;
    grid-row: 7/9; }

/*main-galeria-familiar*/
.galeria-familiar {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: none;
  align-items: none;
  column-gap: 1rem;
  row-gap: 1.5rem; }

.galeria-familiar img {
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .galeria-familiar img:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1/3; }
  .galeria-familiar img:nth-child(3) {
    grid-column: 4/5;
    grid-row: 1/3; }
  .galeria-familiar img:nth-child(4) {
    grid-column: 1/3;
    grid-row: 4/6; }
  .galeria-familiar img:nth-child(13) {
    grid-column: 3/5;
    grid-row: 4/6; }

/*****mediasQ*******/
/*media1280*/
@media (max-width: 1280px) {
  /********* header-bootstrap ********/
  .container-fluid .navbar-collapse .navbar-nav {
    gap: 4rem; }
    .container-fluid .navbar-collapse .navbar-nav .nav-link {
      font-size: 1rem; }
  /********** index **********/
  .cont-principal .presentacion h1 {
    font-size: 3.5rem; }
  .cont-principal .presentacion h2 {
    font-size: 1.75rem; }
  .cont-principal .grid-container {
    max-width: 34.375rem; }
  /********* servicios ****************/
  .cont-articles {
    flex-wrap: wrap; }
  /********** sobre *********/
  .cont-sobre {
    width: 85%; }
  /********** contacto ****************/
  .contacto {
    width: 90%;
    margin: 7.5rem auto; } }

/*media991*/
@media (max-width: 991px) {
  /****** header-bootstrap ********/
  .container-fluid .navbar-toggler {
    border: none; }
    .container-fluid .navbar-toggler:focus {
      box-shadow: none; }
    .container-fluid .navbar-toggler:active {
      box-shadow: none; }
  .container-fluid .navbar-collapse .navbar-nav {
    align-items: center;
    gap: 0;
    margin-top: 1rem; }
    .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
      transition: all ease; }
      .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:active {
        color: #ffb3b0;
        text-shadow: 0 0 0.9375rem #ffb3b0; }
    .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
      text-align: center;
      min-width: 6.25rem; }
  /********** index **********/
  .cont-principal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: none;
    gap: none;
    padding: 0;
    margin: 2rem 0 6rem 0; }
    .cont-principal .presentacion h1 {
      background-color: #F8F9FA;
      font-size: 4rem;
      padding: 1rem .5rem;
      margin-bottom: 0; }
    .cont-principal .presentacion h2 {
      background-color: #555555;
      font-size: 1.8rem;
      padding: 1rem; }
    .cont-principal .presentacion .btn-a {
      margin: 0 auto; }
    .cont-principal .grid-container {
      margin: 5rem auto;
      max-width: 80%; }
  /********** servicios *********/
  .cont-sugerencia p {
    font-size: 1.25rem; }
  .cont-sugerencia .btn-serv {
    font-size: .8rem;
    width: 10rem;
    padding: .6rem;
    margin: 0 auto; }
  /********** galería **********/
  .cont-galeria h1 {
    font-size: 3rem; }
  .galeria, .galeria-familiar {
    column-gap: .5rem;
    row-gap: 1.5rem; }
  /********** contacto *********/
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    gap: 3rem;
    margin: 5rem auto; }
  .cont-contacto {
    align-self: center; }
    .cont-contacto .contacto-contenido h1 {
      font-size: 3rem;
      text-align: center; }
    .cont-contacto .contacto-contenido p {
      font-size: .875rem; }
  /********** sobre *********/
  .cont-sobre {
    margin-top: 5rem; }
    .cont-sobre .art-sobre {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none;
      width: 70%;
      margin: 0 auto; }
      .cont-sobre .art-sobre .art-img-sobre {
        width: 100%; }
      .cont-sobre .art-sobre .art-contenido-sobre {
        margin-top: 1.5rem;
        padding: 0; } }

/*media768*/
@media (max-width: 768px) {
  /********* header-boostrap ************/
  .container-fluid a .navbar-brand {
    width: 15.625rem; }
  /********* servicios *********/
  .cont-articles {
    margin: 5rem auto; }
  .art-card {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    gap: none;
    width: 70%; }
    .art-card a .art-card-img {
      width: 100%; }
    .art-card .art-card-contenido {
      margin: 1rem 0 0 0;
      width: 100%; }
      .art-card .art-card-contenido p {
        font-size: .875rem; }
  /********* galeria ***********/
  .galeria-titulo h1 {
    font-size: 2.5rem; }
  /********* sobre *************/
  .cont-sobre .art-sobre .art-contenido-sobre p {
    font-size: .875rem;
    margin: 2rem 0; } }

/*media600*/
@media (max-width: 600px) {
  .container-fluid {
    padding: .625rem 1rem; }
    .container-fluid a .navbar-brand {
      max-width: 12.5rem; }
  /************ index ***************/
  .cont-principal .presentacion h1 {
    font-size: 3.5rem; }
  .cont-principal .grid-container {
    margin: 2rem auto; }
  /*********** servicios **********/
  .cont-sugerencia {
    padding: 3rem; }
  /********** galería ************/
  .cont-galeria h1 {
    font-size: 2.5rem; }
  .galeria, .galeria-familiar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    justify-content: none;
    align-items: none;
    column-gap: none;
    row-gap: 1.25rem; }
  .galeria img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2; }
  .galeria img:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3; }
  .galeria img:nth-child(8) {
    grid-column: 1/2;
    grid-row: 3/4; }
  .galeria img:nth-child(14) {
    grid-column: 1/2;
    grid-row: 4/5; }
  .galeria img:nth-child(10) {
    grid-column: 1/2;
    grid-row: 5/6; }
  .galeria img:nth-child(11) {
    grid-column: 1/2;
    grid-row: 6/7; }
  .galeria img:nth-child(12) {
    grid-column: 1/2;
    grid-row: 7/8; }
  .galeria img:nth-child(13) {
    grid-column: 1/2;
    grid-row: 8/9; }
  .galeria-familiar img:nth-child(2) {
    grid-column: 1/2;
    grid-row: 1/2; }
  .galeria-familiar img:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3; }
  .galeria-familiar img:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4; }
  .galeria-familiar img:nth-child(13) {
    grid-column: 1/2;
    grid-row: 4/5; }
  /********** contacnto **********/
  .contacto {
    width: 80%; }
  .cont-contacto {
    width: 100%; }
    .cont-contacto .contacto-contenido .contacto-icon {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: none;
      gap: 5px; }
      .cont-contacto .contacto-contenido .contacto-icon p {
        margin-right: .5rem; }
  .cont-form {
    width: 100%; }
    .cont-form .form-contacto {
      padding: 2rem 1.5rem; }
      .cont-form .form-contacto .input-box label {
        font-size: .875rem; } }

/*media425*/
@media (max-width: 425px) {
  /******* header-boostrap *********/
  .container-fluid a .navbar-brand {
    width: 9.375rem; }
  .container-fluid .navbar-toggler {
    width: 3rem !important; }
    .container-fluid .navbar-toggler .navbar-toggler-icon {
      width: 1.5rem !important; }
  .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: .875rem; }
  /*********** index **************/
  .cont-principal .presentacion h1 {
    font-size: 3rem; }
  /*********** servicios **********/
  .cont-articles {
    margin: 3rem auto; }
  .art-card .art-card-contenido p {
    font-size: .75rem; }
  .cont-sugerencia {
    padding: 1.5rem; }
    .cont-sugerencia p {
      font-size: 1rem; }
  /*********** galeria ************/
  .cont-galeria h1 {
    font-size: 2rem; }
  /************ contacto **********/
  .contacto {
    margin: 3rem auto; }
  .cont-contacto .contacto-contenido h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem; }
  .cont-form .form-contacto {
    width: 100%; }
    .cont-form .form-contacto .input-box .btn-submit {
      font-size: .75rem; }
  /************ sobre ***************/
  .cont-sobre .art-sobre .art-contenido-sobre h2 {
    font-size: 1.25rem; }
  .cont-sobre .art-sobre .art-contenido-sobre .btn-sobre {
    width: 50%;
    padding: .5rem 0; }
  /*********** footer ***************/
  footer .social-link a {
    height: 2rem;
    width: 2rem;
    line-height: 2rem; } }

/*media320*/
@media (max-width: 320px) {
  /********** index ****************/
  .cont-principal .presentacion h1 {
    font-size: 2.5rem; }
  .cont-principal .presentacion h2 {
    font-size: 1.5rem;
    padding: .5rem; }
  .cont-principal .presentacion .btn-a {
    width: 6rem;
    padding: .5rem; }
  /********** servicios ***********/
  .cont-articles .art-card-contenido h2 {
    font-size: 1.25rem; }
  .cont-articles .art-card-contenido p {
    font-size: .75rem; }
  .cont-sugerencia .btn-serv {
    width: 6rem;
    padding: .5rem; }
  /************ galeria **********/
  .cont-galeria {
    margin-top: 3rem; }
    .cont-galeria h1 {
      font-size: 1.5rem;
      margin-bottom: 2rem; }
  /************* contacto **************/
  .cont-contacto .contacto-contenido h1 {
    font-size: 1.5rem; }
  .cont-contacto .contacto-contenido p {
    font-size: .75rem; }
  .cont-contacto .contacto-contenido .contacto-icon p {
    margin-left: .25rem;
    font-size: .625rem; }
  .cont-form .form-contacto {
    padding: 2rem 1.25rem; }
    .cont-form .form-contacto .input-box label {
      font-size: .75rem; }
    .cont-form .form-contacto .input-box .btn-submit {
      font-size: .625rem;
      padding: .5rem .5rem; }
  /********** sobre *****************/
  .cont-sobre .art-sobre .art-contenido-sobre h2 {
    font-size: 1rem; } }

/*media269*/
@media (max-width: 269px) {
  /********* header-boostrap ************/
  .container-fluid {
    padding: .625rem .8rem; }
    .container-fluid a .navbar-brand {
      width: 6.25rem;
      margin-right: 0; }
  /************ index  ************/
  .cont-principal .presentacion h1 {
    font-size: 2rem; }
  .cont-principal .presentacion h2 {
    font-size: 1rem;
    padding: .5rem; }
  .cont-principal .presentacion .btn-a {
    font-size: .625rem;
    width: 5rem;
    padding: .5rem; }
  /********** servicios ****************/
  .cont-sugerencia .btn-serv {
    font-size: .625rem;
    width: 5rem;
    padding: .5rem; }
  /*********** sobre *******************/
  .cont-sobre .art-sobre .art-contenido-sobre p {
    font-size: .75rem; }
  .cont-sobre .art-sobre .art-contenido-sobre .btn-sobre {
    font-size: .625rem; } }
