@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #fdfdfd;
}


/*********** navbar ***********/

.container-fluid{
    padding: 0 2rem;
}
.navbar{
    width: 100%;
}

.navbar-collapse{
    justify-content: end;
}

.navbar-nav{
    gap: 6rem;
}

.nav-link{
    font-family: "Poppins", sans-serif;
    color: #555555;
    font-size: 1.25rem;
    font-weight: 400;
    transition: all .3s ease;
}

.nav-item a:hover{
    color: #F38FB0;
    text-shadow:  0 0 .9375rem #F38FB0;
}

.dropdown-menu{
    border:none;
    box-shadow: 0 0 .9375rem #F38FB0
}

.dropdown-menu a{
    font-size: 1rem;
}




/*********** footer ***********/

footer{
    background-color: #24262b;
    padding: 5rem 0;
}

.footer-titulo{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 3.125rem;
    text-align: center;
}

.social-link{
    text-align: center;
}

.social-link a{
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #555555;
    margin: .625rem .625rem ;
    line-height: 2.5rem;
    border-radius: 50%;
    color: #ffffff;
    transition: all .3s ease;
}

.social-link a:hover{
    background-color: #F38FB0;
}





/****************  index  ************************/


.cont-principal{
    display: flex;
    justify-content: space-evenly;
}

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentacion h1{
    background-color: #d9d9d923;
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    color: #555555;
    line-height: normal;
    text-align: center;
    margin: 0;
}

.presentacion h1 span{
    color: #F38FB0;
}

.presentacion h2{
    background-color: #555555;
    color: #F38FB0;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    padding: .3125rem 1rem;
    text-align: center;
    letter-spacing: 1.2rem;
}


.btn {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    background-color: #555555;
    color: #ffffff;
    width: 7.5rem;
    padding: 1rem 1.5rem ;
    border-radius: .5rem;
    text-align: center;
    transition: all .3s ease;
}

.btn:hover{
    background-color: #F38FB0;
    color: #ffffff;
}

.btn:active{
    transform: scale(.97);
    background-color: #cc275e;
}

.martha-img{
    width: 100%;
}







/****************** Sobre mi   ***************************/

.cont-sobre{
    margin: 10rem auto;
    max-width: 75rem;
}

.art-sobre{
    display: flex;
    align-items: center;
}

.art-contenido-sobre{
    padding-left: 2rem;
}


.art-contenido-sobre h1, h2{
    font-family: "Poppins", sans-serif;
    color: #555555;
    margin: 0;
}


.art-contenido-sobre p{
    font-family: "Roboto", sans-serif;
    color: #555555;
    margin: 3rem 0;
}

/* El botón usa el estilo del botón del index */






/******************  Servicios  **************************/

.cont-articles{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10rem 5rem;
}
.art-card{
    width: 62.5rem;
    display: flex;
    padding: 1.25rem;
    box-shadow: 0 0 .9375rem rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.art-card:hover{
    transform: scale(1.008);
    background-color: #d9d9d923;
    box-shadow: 0 0 .9375rem #F38FB0;
}

.art-card-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.25rem;
}

.art-card-contenido h2{
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #555555;
}

.art-card-contenido p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #555555;
}

.cont-sugerencia{
    background-color: #d9d9d923;
    padding: 6rem 0;
    text-align: center;
}

.cont-sugerencia p{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #555555;
    margin-bottom: 3.125rem;
}


/* El botón usa el estilo del botón del index */





/*****************  contacto  *************************/

.cont-contacto{
    display: flex;
    justify-content: center;
    margin-top: 6.25rem;
    padding: 1.25rem 0;
}

.contacto-contenido{
    width: 43.75rem;
}

.cont-contacto h1{
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    color: #555555;
    line-height: 3.125rem;
    margin-bottom: 3rem;
    text-align: center;
}

.cont-contacto p{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
    text-align: center;
}

.cont-form{
    display: flex;
    justify-content: center;
    padding: 4.375rem 0;
}

.form-contacto{
    padding: 3.125rem;
    width: 31.25rem;
    border-radius: .5rem;
    transition: all .8s ease;
    
}

.form-contacto:hover{
    background-color: #d9d9d923;
    box-shadow: 0 0 .9375rem #F38FB0;
}

.input-box{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #555555;
    
}

.input-box label{
    margin-bottom: .5rem;
}

.input-box input{
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: #555555;
    height: 1.875rem;
    margin-bottom: 2rem;
    padding: .5rem  .8rem;
    outline: none;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 .3125rem rgba(0, 0, 0, .1);
    
}

.input-box textarea{
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: #555555;
    margin-bottom: 2rem;
    padding: 1.2rem  1.5rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 .3125rem rgba(0, 0, 0, .1);
    resize: none;
}

.input-box .btn-submit{
    font-family: "Poppins", sans-serif;
    background-color: #555555;
    color: #ffffff;
    font-size: .8rem;
    font-weight: 500;
    height: auto;
    border: none;
    border-radius: 1rem;
    margin-bottom: 0;
    width: 50%;
    align-self: center;
    cursor: pointer;
    transition: all .3s ease;
    
}

.input-box .btn-submit:hover{
    background-color: #d9d9d923;
    color: #555555;
    box-shadow: 0 0 .9375rem #F38FB0;
}

.input-box .btn-submit:focus{
    background-color: #cc275e;   
}




/*********************  galeria   ***********************/


.cont-galeria{
    margin-top: 6rem;
    margin-bottom: 20rem;
}

.galeria-titulo{
    margin-bottom: 3rem;
}

.galeria-titulo h2{
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    color: #555555;
    padding: 1.25rem 0;
    text-align: center;
}

.galeria{
    margin: 0 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 3rem;
    column-gap: 1rem;
}

.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.galeria img:hover{
    transform: scale(1.02);
}

.galeria img:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
}
.galeria img:nth-child(2){
    grid-row: 1/3;
}
.galeria img:nth-child(8){
    grid-column: 3/5;
    grid-row: 3/5;
}
.galeria img:nth-child(14){
    grid-column: 1/2;
    grid-row: 3/5;
}
.galeria img:nth-child(10){
   grid-column: 2/4;
   grid-row: 7/9;
}

.galeria img:nth-child(11){
    grid-column: 3/5;
    grid-row: 5/7;
}
.galeria img:nth-child(12){
    grid-column: 1/3;
    grid-row: 5/7;
}
.galeria img:nth-child(13){
    grid-column: 4/5;
    grid-row: 7/9;
}



.galeria-familiar{
    margin: 0 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}

.galeria-familiar img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: all 0.5s ease;
}

.galeria-familiar img:hover{
    transform: scale(1.02);
}


.galeria-familiar img:nth-child(2){
    grid-column: 2/4;
    grid-row: 1/3;
}

.galeria-familiar img:nth-child(3){
    grid-column: 4/5;
    grid-row: 1/3;
}

.galeria-familiar img:nth-child(4){
    grid-column: 1/3;
    grid-row: 4/6;
}

.galeria-familiar img:nth-child(13){
    grid-column: 3/5;
    grid-row: 4/6;
}





/****************************************************************/
@media (max-width: 1650px) {
    .cont-principal{
        padding: 0 5rem;
        justify-content: center;
    }

    .cont-principal h1{
        font-size: 4.5rem;
    }
}



@media (max-width: 1440px) {
  
    .cont-principal{
        padding: 0 5rem;
        justify-content: center;
    }

    .cont-principal h1{
        font-size: 4rem;
    }
    .cont-principal h2{
        letter-spacing: 1.2rem;
    }

    /****** servicios *****/

    .cont-articles{
        flex-wrap: wrap;
    }

    /********** galeria **********/
    
    .cont-galeria{
        margin-bottom: 5rem;
    }


    /********** sobre *********/

    .cont-sobre{
        max-width: 62.5rem;
    }
}



@media (max-width: 1280px){

    .navbar-nav{
        gap: 2rem;
    }
    
    .nav-link{
    font-size: 1rem;
    }


    /********** index *********/
    .presentacion h1{
        font-size: 3rem;
    }

    /********** sobre *********/
    .cont-sobre{
        max-width: 60rem;
    }
}




@media (max-width: 1024px){

   

    /********** index **********/
    .presentacion h1{
        font-size: 2.5rem;
    }

    .presentacion h2 {
        font-size: 1.2rem;
        letter-spacing: .7rem;
        margin-bottom: 3rem;
    }

    .btn{
        font-size: .8rem;
        width: 5rem;
        padding: .6rem;
    }

    /********** servicios **********/

    .cont-articles{
        gap: 6.25rem;
    }

    .cont-sugerencia{
        padding: 6.25rem;
    }

    .cont-sugerencia p{
        font-size: 1.2rem;
    }
    
    /********** galeria **********/

    .cont-galeria{
        margin: 5rem 0;
    }
    .galeria-titulo h2{
        font-size: 3rem;
    }

     /********** sobre *********/
     .cont-sobre{
        max-width: 56.25rem;
    }
}





@media (max-width: 991px){

    .container-fluid{
        padding: .625rem 1.875rem;
    }

    .navbar-nav{
        align-items: end;
        gap: 0;
    }


    .dropdown-menu{
        text-align: center;
        min-width: 100px;
    }

    /********** index **********/
    .cont-principal{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0;
        margin: 2rem 0 6rem 0;
    }

    .presentacion h1{
        background-color: #F8F9FA;
        font-size: 4rem;
        padding: 1rem;
        margin-bottom: 0;
    }

    .presentacion h2{
        font-size: 1.5rem;
        padding: 1rem;
    }

    .btn{
        font-size: .8rem;
        width: 12rem;
        padding: .6rem;
        margin: 0 auto;
    }

    .cont-martha-img{
        width: 70%;
        margin: 0 auto;
    }
    

    /********** galería **********/
    .galeria{
        column-gap: .5rem;
        row-gap: 1.5rem;
    }


    /********** contacto *********/
    .cont-contacto{
        width: 37.5rem;
        margin: 5rem auto;
    }

    .contacto-contenido{
        width: 100%;
    }

    .contacto-contenido h1{
        font-size: 3rem;
    }

    .cont-form{
        margin-bottom: 6rem;
        padding: 0;
    }
    
    .input-box label{
        font-size: 1rem;
    }


    /********** sobre *********/

    .art-sobre{
        flex-direction: column;
        width: 80%;
        align-items: center;
        margin: 0 auto;
    }

    .art-contenido-sobre{
        margin-top: 1.5rem;
        padding: 0;
    }

    .art-img-sobre{
        width: 100%;
    }
    
}


@media (max-width: 768px){

    /********* servicios *********/

    .art-card{
        width: 28.125rem;
        flex-direction: column;
    }


    .art-card-contenido{
        margin: 1rem 0 0 0 ;
    }

   .art-card-contenido p{
    font-size: .875rem;
   }

   /********* galeria ***********/

   .galeria-titulo h2 {
       font-size: 2.5rem;
    }


   /********** contacto **********/

   .cont-contacto{
        width: auto;
        margin: 5rem 0;
        padding: 1rem 5rem;
    }

    .contacto-contenido{
        width: 80%;
    }


    /********* sobre *************/
    .art-contenido-sobre p{
        font-size: .875rem;
        margin: 2rem 0;
    }

}




@media (max-width: 600px){

    .container-fluid{
        padding: .625rem 2rem;
    }

    .navbar-brand{
        max-width: 12.5rem;
    }

    /********** index **************/

    .presentacion h1{
        font-size: 3rem;
    }

    /********** galería ************/

    .galeria{
        margin: 0 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        
        row-gap: 1rem;
        column-gap: 1rem;
    }

    /********** contacnto **********/

    .form-contacto{
        width: 80%;
    }
}   











