@media (max-width: 269px) {

    /********* header-boostrap ************/
    .container-fluid {
        padding: .625rem .8rem;

        a .navbar-brand {
            width: 6.25rem;
            margin-right: 0;
        }
    }


    /************ index  ************/

    .cont-principal {
        margin-bottom: 1.25rem;

        .presentacion {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1rem;
                padding: .5rem;
            }

            .btn-a {
                font-size: .625rem;
                width: 5rem;
                padding: .5rem;
            }
        }
    }

    .banner {
        .banner-contenido {
            padding: 1rem;
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: .75rem;
            }
            .btn-banner {
                a {
                    font-size: .625rem;
                    width: 5rem;
                    padding: .5rem;
                }
            }
        }
    }


    /********** servicios ****************/
    .art-card {
        .art-card-contenido {
            .btn-card {
                font-size: .625rem;
                width: 5rem;
                padding: .5rem;
            }
        }
    }

    .cont-sugerencia {
        .btn-serv {
            font-size: .625rem;
            width: 5rem;
            padding: .5rem;
        }
    }


    /*********** sobre *******************/
    .cont-sobre {
        .art-sobre {
            .art-contenido-sobre {
                p {
                    font-size: .75rem;
                }

                .btn-sobre {
                    font-size: .625rem;
                }
            }
        }
    }


    /************* footer *****************/
    footer {
        .footer-cont {
            @include flex(row, space-between, none, 1rem);

        }
    }
}