@media (max-width: 1280px){

    .navbar-nav{
        gap: 2rem;
    }
    
    .nav-link{
    font-size: 1rem;
    }

    /********** index **********/

    .cont-principal{
        justify-content: center;
    }

    .presentacion h1{
        font-size: 3rem;
    }

    .presentacion h2{
        font-size: 2rem;
    }

    /********* servicios ****************/
    .cont-articles{
        flex-wrap: wrap;
    }

    /********** sobre *********/
    .cont-sobre{
        max-width: 60rem;
    }
}

