@media (max-width: 768px){

    /********* header-boostrap ************/
    .container-fluid{
        a .navbar-brand{
            width: 15.625rem;
        }
    }
   

    /********* servicios *********/

    .cont-articles{
        margin: 5rem auto;
    
    }
   
    .art-card{
        @include flex(column, none, none, none);
        width: 70%;
        a .art-card-img{
                width: 100%;
            }
        .art-card-contenido{
            margin: 1rem 0 0 0  ;
            width: 100%;
            p{
                font-size: .875rem;
            }
        }
    }



   /********* galeria ***********/

   .galeria-titulo h1{
       font-size: 2.5rem;
    }



    /********* sobre *************/

    .cont-sobre{
        .art-sobre{
            .art-contenido-sobre p{
                    font-size: .875rem;
                    margin: 2rem 0;
            }
        }
    }
    

}