
@media (max-width: 600px){

    .container-fluid{
        padding: .625rem 1rem;
        a .navbar-brand{
            max-width: 12.5rem;
        }
    }

   
    /************ index ***************/
    .cont-principal{
        .presentacion{
            h1{
                font-size: 3.5rem;
            }
        }
        .grid-container{
            margin: 2rem auto 4rem auto; 
        }  
    }
    
     /*********** servicios **********/

     .cont-sugerencia{
        padding: 3rem;
    }


    /********** galería ************/
    .cont-galeria{
        h1{
            font-size: 2.5rem;
        }
    }

    .galeria, .galeria-familiar{
        @include grid(1fr, none, none, none, none, 1.25rem);
    }

    .galeria img:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .galeria img:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .galeria img:nth-child(8){
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .galeria img:nth-child(14){
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .galeria img:nth-child(10){
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .galeria img:nth-child(11){
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .galeria img:nth-child(12){
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .galeria img:nth-child(13){
        grid-column: 1/2;
        grid-row: 8/9;
    }


    .galeria-familiar img:nth-child(2){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .galeria-familiar img:nth-child(3){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .galeria-familiar img:nth-child(4){
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .galeria-familiar img:nth-child(13){
        grid-column: 1/2;
        grid-row: 4/5;
    }

    /********** contacnto **********/

    .contacto{
        width: 80%;
    }

    .cont-contacto{
        width: 100%;
        .contacto-contenido{
            .contacto-icon{
                @include flex(column, none, none, 5px);
                p{
                    margin-right: .5rem;
                }
            }
        }
    }

    .cont-form{
        width: 100%;
        .form-contacto{
            padding: 2rem 1.5rem;
            .input-box{
                label{
                    font-size: .875rem;
                }
            }  
        }  
    }

}  