@media (max-width: 1280px){

    /********* header-bootstrap ********/

    .container-fluid{
        .navbar-collapse{
            .navbar-nav{
                gap: 4rem;
                .nav-link{
                    font-size: 1rem;
                }
            } 
        } 
    }
    

    /********** index **********/

    .cont-principal{
        .presentacion {
            h1{
                font-size: 3.5rem;
            }
            h2 {
                font-size: 1.75rem;
            }
        } 
        .grid-container{
            max-width: 34.375rem;
        } 
    } 

    /********* servicios ****************/

    .cont-articles{
        flex-wrap: wrap;
    }

    /********** sobre *********/
    
    .cont-sobre{
        width: 85%;
    }


    /********** contacto ****************/

    .contacto{
        width: 90%;
        
    }
   
}

