@media (max-width: 991px) {

    /****** header-bootstrap ********/
   
    .container-fluid {
        .navbar-toggler {
            border: none;
            &:focus{
                box-shadow: none;
            }
            &:active{
                box-shadow: none;
            }
        }
        .navbar-collapse {
           
            .navbar-nav {
                align-items: center;
                gap: 0;
                margin-top: 1rem;
                .nav-item {
                    .nav-link {
                        transition: all ease;
                        &:active {
                            color: map-get($colors, rosaOscuro);
                            text-shadow: 0 0 .9375rem map-get($colors, rosaOscuro);
                        }
                    }
                    .dropdown-menu {
                        text-align: center;
                        min-width: 6.25rem;
                    }
                }
            }
        } 
    }

    
    /********** index **********/

    .cont-principal {
        @include flex(column-reverse, center, none, none);
        padding: 0;
        margin: 2rem 0 6rem 0;
        .presentacion {
            h1 {
                background-color: map-get($colors, gris);
                font-size: 4rem;
                padding: 1rem .5rem;
                margin-bottom: 0;
            }
            h2 {
                background-color: map-get($colors, grisOscuro);
                font-size: 1.8rem;
                padding: 1rem;
            }
            .btn-a {
                margin: 0 auto;
            }
        }
        .grid-container{
            margin: 5rem auto;
            max-width: 80%; 
        } 
    }

    /********** servicios *********/

    .cont-sugerencia{
        .btn-serv {
            font-size: .8rem;
            width: 10rem;
            padding: .6rem;
            margin: 0 auto;
        }
    }  


    /********** galería **********/
    .cont-galeria{
        h1{
            font-size: 3rem;
        }
    }
    .galeria, .galeria-familiar {
        column-gap: .5rem;
        row-gap: 1.5rem;
    }


    /********** contacto *********/
    
    .contacto{
        margin: 5rem auto;
    }
    .cont-contacto{
        .contacto-contenido{
            h1{
                font-size: 3rem;
            }
            p{
                font-size: .875rem;
            }
        }
    }          
    

    /********** sobre *********/
    .cont-sobre{
        margin-top: 5rem;
        .art-sobre {
            @include flex(column, none, center, none);
            flex-direction: column;
            width: 70%;
            margin: 0 auto;
            .art-img-sobre {
                width: 100%;
            }
            .art-contenido-sobre {
                margin-top: 1.5rem;
                padding: 0;
            }
        }
    }
    
}