@media (max-width: 1280px){

    /********* header-bootstrap ********/

    .container-fluid{
        .navbar-collapse{
            .navbar-nav{
                gap: 4rem;
                .nav-link{
                    font-size: 1rem;
                }
            } 
        } 
    }
    

    /********** index **********/

    .cont-principal{
        @include flex(row, center, none, none);
        .presentacion {
            h1{
                font-size: 3rem;
            }
            h2 {
                font-size: 1.75rem;
            }
        } 
    }    

    /********* servicios ****************/

    .cont-articles{
        flex-wrap: wrap;
    }

    /********** sobre *********/
    
    .cont-sobre{
        max-width: 60rem;
    }


    /********** contacto ****************/

    .contacto{
        @include flex(column, center, none, 3rem);
        width: 31.25rem;
        margin: 7.5rem auto;
    }
    
    .cont-contacto{
        align-self: center;
        width: 100%;
        .contacto-contenido{
            h1, p{
                text-align: center;
            }
            .contacto-icon{
                @include flex(row, space-between, none, 5px);
                flex-wrap: wrap;
            }
        }
    }

    .cont-form{
        width: 100%;
    }
}

