
@media (max-width: 425px){

    /******* header-boostrap *********/
    .container-fluid{
        a .navbar-brand{
            width: 9.375rem;
        }
        .navbar-toggler{
            width: 3rem !important;
            .navbar-toggler-icon{
                width: 1.5rem !important;
            }
        }
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        font-size: .875rem;
                    }
                }
            }
        }    
    }  
   

    /*********** index **************/
    .cont-principal{
        .presentacion{
            h1{
                font-size: 3rem;
            }
        }
        .cont-martha-img {
            width: 90%;
        }
    } 
    
    /*********** servicios **********/

    .cont-articles{
        margin: 3rem auto;
    }

    .cont-sugerencia{
        padding: 1.5rem;
        p{
            font-size: 1rem;
        }
    
    }
    
    /*********** galeria ************/

    .cont-galeria h1{
        font-size: 2rem;
    }

    /************ contacto **********/
    
    .contacto{
        margin: 3rem auto;
    }
    .cont-contacto{
        .contacto-contenido{
            h1{
                font-size: 2rem;
                margin-bottom: 1.25rem;
            }
        }
    }

    .cont-form{
        .form-contacto{
            width: 100%;
            .input-box{
                .btn-submit{
                    font-size: .75rem;
                }
            }
        } 
    }
     

    /************ sobre ***************/

    .btn-a {
        width: 50%;
        padding: .5rem 0;
    }



    /*********** footer ***************/

    footer{
        .social-link{
            a{
                height: 2rem;
                width: 2rem;
                line-height: 2rem;
            }
        }
    }
}