
@media (max-width: 425px){

    /******* header-boostrap *********/
    .container-fluid{
        a .navbar-brand{
            width: 9.375rem;
        }
        .navbar-toggler{
            width: 3rem !important;
            .navbar-toggler-icon{
                width: 1.5rem !important;
            }
        }
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        font-size: .875rem;
                    }
                }
            }
        }    
    }  
   

    /*********** index **************/
    .cont-principal{
        margin-top: 0;
        .presentacion{
            h1{
                font-size: 3rem;
            }
        }
    } 


    .banner {
        .banner-contenido{
            padding: 2rem 1rem;
            p{
                font-size: .875rem;
            }
        }
    }
    
    /*********** servicios **********/

    .cont-articles{
        margin: 8rem 1.5rem;
    }
    .art-card{
        img{
            margin-top: -5rem;
        }
        .art-card-contenido{
            p{
                font-size: .75rem;
            }
        }
    }

    .cont-sugerencia{
        padding: 6rem 2rem;
        p{
            font-size: 1rem;
        }
    }
    
    /*********** galeria ************/

    .cont-galeria h1{
        font-size: 2rem;
    }

    /************ contacto **********/
    
    .contacto{
        margin: 3rem auto 12.5rem auto;
    }
    .cont-contacto{
        .contacto-contenido{
            h1{
                font-size: 2rem;
                margin-bottom: 1.25rem;
            }
        }
    }

    .cont-form{
        .form-contacto{
            width: 100%;
            .input-box{
                .btn-submit{
                    font-size: .75rem;
                }
            }
        } 
    }
     

    /************ sobre ***************/

    .cont-sobre{
        .art-sobre{
            .art-contenido-sobre{
                h2{
                    font-size: 1.25rem;
                }
                .btn-sobre {
                    width: 50%;
                    padding: .5rem 0;
                }
            }
        }
    }
   

}