@media (max-width: 320px){

    /********** index ****************/

    .cont-principal{
        .presentacion{
            h1 {
                font-size: 2.5rem;
            }
            h2{
                font-size: 1.5rem;
                padding: .5rem;
            }
            .btn-a{
                width: 6rem;
                padding: .5rem;
            }
        }
    }


    /********** servicios ***********/

    .cont-articles{
        .art-card-contenido{
            h2{
                font-size: 1.25rem;
            }
            p{
                font-size: .75rem;
            }
        }
    }
    
    .cont-sugerencia{
        .btn-serv{
            width: 6rem;
            padding: .5rem;
        }
    }


     /************ galeria **********/

     .cont-galeria{
        margin-top: 3rem;
        h1{
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    
     }
    

    /************* contacto **************/
    
    .cont-contacto{
        .contacto-contenido{
            h1{
                font-size: 1.5rem;
            }
            p{
                font-size: .75rem;
            }
            .contacto-icon{
                p{
                    margin-left: .25rem;
                    font-size: .625rem;
                }
            }
        }   
    }
   

   .cont-form{
        .form-contacto{
            padding: 2rem 1.25rem;
            .input-box{
                label{
                    font-size: .75rem;
                }
                .btn-submit{
                    font-size: .625rem;
                    padding: .5rem .5rem;
                }
            }
        }   
    }


    /********** sobre *****************/

    .cont-sobre{
        .art-sobre{
            .art-contenido-sobre{
                h2{
                    font-size: 1rem;
                }
            }
        }
    }

}