footer{
    background-color: map-get($colors, grisFooter);
    padding: 5rem 0;
    .footer-titulo{
        font-family: $font-titulo;
        font-weight: 500;
        font-size: 1rem;
        color: map-get($colors, blanco);
        margin-bottom: 3.125rem;
        text-align: center;
    }
    .social-link{
        text-align: center;
        a{
            display: inline-block;
            height: 2.5rem;
            width: 2.5rem;
            background-color: map-get($colors, grisOscuro);
            margin: .625rem .625rem ;
            line-height: 2.5rem;
            border-radius: 50%;
            color: map-get($colors, blanco);
            transition: all .3s ease;
            &:hover{
                background-color: #F38FB0;
            }
        }
    }
}








