.cont-principal{
    @include flex(row, space-evenly, none, none);
    .presentacion{
        @include flex(column, center, none, none);
        h1{
            font-family: $font-titulo;
            font-size: 5rem;
            font-weight: 600;
            color: map-get($colors, grisOscuro );
            line-height: normal;
            text-align: center;
            margin: 0;
            text-shadow: 0 0 .9375rem rgba(0, 0, 0, 0.089);
            span{
                color: #F38FB0;
            }
        }
        h2{
            background-color: map-get($colors, gris);
            color: map-get($colors, rosa);
            font-family: $font-titulo;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 3rem;
            padding: .3125rem 1rem;
            text-align: center;
        }
        .btn-a {
            align-self: center;
            display: inline-block;
            font-family: $font;
            font-size: .75rem;
            background-color: map-get($colors, grisOscuro );
            color: #ffffff;
            width: 6rem;
            padding: 1rem 1.5rem ;
            border-radius: .5rem;
            text-align: center;
            transition: all .3s ease;
            &:hover{
                background-color: map-get($colors, rosa);
            }
            &:active{
                transform: scale(.97);
                background-color: map-get($colors, rosaOscuro);
            }
        }
    }
    .martha-img{
        width: 100%;
    }
}



