.cont-sobre{
    margin: 10rem auto;
    max-width: 75rem;
    .art-sobre{
        @include flex(row, none, center, none);
        .art-contenido-sobre{
            padding-left: 2rem;
            h1, h2{
            font-family: $font-titulo;
            color: map-get($colors, grisOscuro);
            }
            p{
                font-family: $font;
                color: map-get($colors, grisOscuro);
                margin-bottom: 3rem;
            }
            .btn-sobre{
                @extend %btn;
            }      
        }
    }
}













