.cont-articles{
    @include flex(row, center, none, 3rem);
    margin: 8rem 5rem;
}

.cont-sugerencia{
    background-color: map-get($colors, gris);
    padding: 6rem 0;
    text-align: center;
    p{
        font-family: $font;
        font-size: 1.5rem;
        font-weight: 400;
        color: map-get($colors, grisOscuro);
        margin-bottom: 3.125rem;
    }

    .btn-serv{
        @extend %btn;
    }

}   
