.contacto{
    @include flex(row, center, none, 3rem);
    margin: 7.5rem 0;

}


.cont-contacto{
    width: 31.25rem;
    .contacto-contenido{
        h1{
            font-family: $font-titulo;
            font-size: 4rem;
            font-weight: 500;
            color: map-get($colors, rosaOscuro);
            line-height: 3.125rem;
            margin-bottom: 3rem;
        }
        p{
            font-family: $font;
            font-weight: 400;
            color: map-get($colors, grisOscuro);
        }
        .contacto-icon{
            display:flex;
            flex-direction: column;
            margin-top: 3.125rem;
            p{
                display: inline-block;
                font-family: $font;
                font-size: .75rem;
                color: map-get($colors, grisOscuro);
                margin-left: 1rem;
            }
        }
    }  
}




.cont-form{
    @include flex(row, center, none, none);
    width: 31.25rem;
    align-self: center;
    .form-contacto{
        width: 100%;
        padding: 2.5rem;
        background-color: map-get($colors, gris);
        box-shadow: 0 0 .9375rem #0000001a;
        .input-box{
            display: flex;
            flex-direction: column;
            font-family: $font-titulo;
            font-size: 1.2rem;
            font-weight: 400;
            color: map-get($colors, grisOscuro);
            label{
                font-size: 1rem;
                margin-bottom: .5rem;
            }
            input{
                font-family: $font;
                font-size: .8rem;
                font-weight: 400;
                color: map-get($colors, grisOscuro);
                height: 1.875rem;
                margin-bottom: 1rem;
                padding: .5rem  .8rem;
                outline: none;
                border: none;
                border-radius: .5rem;
                box-shadow: 0 0 .3125rem #0000001a; 
            }
            textarea{
                font-family: $font;
                font-size: .8rem;
                font-weight: 400;
                color: map-get($colors, grisOscuro);
                margin-bottom: 2rem;
                padding: 1.2rem  1.5rem;
                outline: none;
                border: none;
                border-radius: 1rem;
                box-shadow: 0 0 .3125rem #0000001a;
                resize: none;
            }
            .btn-submit{
                font-family: $font-titulo;
                background-color: map-get($colors, grisOscuro);
                color: #ffffff;
                font-weight: 500;
                height: auto;
                border: none;
                border-radius: 1rem;
                margin-bottom: 0;
                width: 50%;
                align-self: center;
                transition: all .3s ease;
                &:hover{
                    background-color: #d9d9d923;
                    color: #555555;
                    box-shadow: 0 0 .9375rem #EDC8C3;
                }
                &:active{
                    background-color: #ffb3b0;   
                }
            }
        }
    }
}














