.cont-principal{
    @include flex(row, space-evenly, none, none);
    margin: 3.125rem 0 15.625rem 0;
    .presentacion{
        @include flex(column, center, none, none);
        h1{
            font-family: $font-titulo;
            font-size: 5rem;
            font-weight: 600;
            color: map-get($colors, grisOscuro);
            line-height: normal;
            text-align: center;
            margin: 0;
            text-shadow: 0 0 .9375rem map-get($colors, box-sombra);
        }
        h2{
            background-color: map-get($colors, gris);
            color: map-get($colors, rosaOscuro);
            font-family: $font-titulo;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 3rem;
            padding: .3125rem 1rem;
            text-align: center;
        }
        .btn-a{
           @extend %btn;
           align-self: center;
        }
    }
    .grid-container{
        max-width: 43.75rem;
        aspect-ratio: 1/1;
        @include grid(repeat(16, 1fr), repeat(16, 1fr), none, none, none, none);
        .item{
            border: .1875rem solid map-get($colors, gris);
            border-radius: 50%;
            box-shadow: .625rem .625rem .625rem 0 map-get($colors, rosa);
            transition: all .8s cubic-bezier(0.39, 0.575, 0.565, 1);
            &:hover{
                z-index: 1;
                transform: scale(1.3);
                box-shadow: none;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover; 
                overflow: hidden;
                border-radius: 50%;
                
             }
        }
        .item1{
            grid-area: 1/5/6/10;
        }
        .item2{
            grid-area: 5/1/11/7;
        }
        .item3{
            grid-area: 4/6/11/13; 
        }
        .item4{
            grid-area: 2/-1/8/-7;
        }
        .item5{
            grid-area: 7/-2/11/-6;
        }
        .item6{
            grid-area: -1/3/-9/11;
        }
        .item7{
            grid-area: -2/-2/-8/-8;
        }
    }

}






