.art-card{
    width: 43.75rem;
    @include flex(row, none, none, none);
    padding: 1.25rem;
    box-shadow: 0 0 .9375rem #0000001a;
    transition: all .5s ease;
    &:hover{
        background-color: map-get($colors, gris);
        box-shadow: 0 0 .9375rem map-get($colors, rosaOscuro);
    }
    .art-card-contenido{
        @include flex(column, center, none, none);
        margin-left: 1.5rem;
        h2{
            font-family: $font-titulo;
            font-size: 1.8rem;
            font-weight: 500;
            color: map-get($colors, grisOscuro);
        }
        p{
            font-family: $font;
            color: map-get($colors, grisOscuro);
        }
    }
}   





